<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>

<body>
    <h1 th:text="${titulo}"></h1>

    <form th:action="@{/views/createTrabajador}" th:object="${trabajador}" method="post">
        <div class="errorblock" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err: ${#fields.errors(**')}" th:text="${err}">Input is incorrect</li>
            </ul>
        </div>

        <fieldset>
            <legend>Datos del trabajador</legend>
            <table>
				<tr>
                    <td><label th:text="${dni}">DNI: </label></td>
                    <td><input type="text" th:field="*{dni}" minlength="9" maxlength="9" required /></td>
                </tr>
                <tr>
                    <td><label th:text="${nombre}">Nombre: </label></td>
                    <td><input type="text" th:field="*{nombre}" minlength="4" maxlength="12" required /></td>
                </tr>

                <tr>
                    <td><label th:text="${apellidos}">Apellidos: </label></td>
                    <td><input type="text" th:field="*{apellidos}" required /></td>
                </tr>
                
                <tr>
                    <td><label th:text="${contraseña}">Contraseña: </label></td>
                    <td><input type="password" th:field="*{contraseña}" required /></td>
                </tr>
                
                <tr>
                    <td><label th:text="${especialidad}">Especialidad: </label></td>
                    <td><select th:field="*{especialidad}" required>
            				<option value="limpieza">Limpieza</option>
            				<option value="mantenimiento">Mantenimiento</option>
            				<option value="atencion">Atención al cliente</option>
        				</select>
        			</td>
                </tr>

                <tr>
                    <td><label th:text="${email}">Correo: </label></td>
                    <td><input type="email" th:field="*{email}" required /></td>
                </tr>

                <tr>
                    <td><button type="submit">Registrar</button></td>
                </tr>    

            </table>
        </fieldset>
    </form>
    <p><a th:href="@{/views/}">Volver</a></p>
</body>
</html>